body
{
	background:white;
}
.login
{
color: black;
}
.register
{
    color: black;
}

h5
{
    font-weight: 400;
    color: black;
}

.container
{
	margin-top: 80px;
	width: 400px;
	height: 700px;
}

.tabs .indicator
{
	/* background-color: #e0f2f1; */
	height: 60px;
	opacity: 0.3;
}

.form-container
{
	padding: 40px;
    padding-top: 10px;
    /* color: black; */
}

.confirmation-tabs-btn
{
	position: absolute;
}